USE [movie_db_v2]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 12/27/2025 3:00:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[phone_number] [varchar](15) NOT NULL,
	[points] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movies]    Script Date: 12/27/2025 3:00:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[movie_id] [varchar](20) NOT NULL,
	[movie_name] [nvarchar](200) NOT NULL,
	[genre] [nvarchar](50) NULL,
	[price] [decimal](18, 2) NOT NULL,
	[capacity] [int] NOT NULL,
	[movie_image] [varchar](500) NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tickets]    Script Date: 12/27/2025 3:00:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tickets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[movie_id] [varchar](20) NOT NULL,
	[customer_id] [int] NULL,
	[staff_id] [int] NOT NULL,
	[seat_number] [int] NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 12/27/2025 3:00:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[email] [varchar](100) NULL,
	[role] [varchar](20) NOT NULL,
	[status] [varchar](20) NULL,
	[date_reg] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[customers] ON 

INSERT [dbo].[customers] ([id], [full_name], [phone_number], [points], [created_at]) VALUES (1, N'Nguyễn Văn A', N'0909123456', 10, CAST(N'2025-12-26T17:01:59.550' AS DateTime))
INSERT [dbo].[customers] ([id], [full_name], [phone_number], [points], [created_at]) VALUES (2, N'Trần Thị B', N'0912345678', 50, CAST(N'2025-12-26T17:01:59.550' AS DateTime))
SET IDENTITY_INSERT [dbo].[customers] OFF
GO
SET IDENTITY_INSERT [dbo].[movies] ON 

INSERT [dbo].[movies] ([id], [movie_id], [movie_name], [genre], [price], [capacity], [movie_image], [status], [created_at], [updated_at]) VALUES (1, N'MV-001', N'Đào và Phở', N'Tình cảm', CAST(45000.00 AS Decimal(18, 2)), 50, N'dao-pho.jpg', N'Full', CAST(N'2025-12-26T17:01:59.550' AS DateTime), CAST(N'2025-12-26T23:04:48.777' AS DateTime))
INSERT [dbo].[movies] ([id], [movie_id], [movie_name], [genre], [price], [capacity], [movie_image], [status], [created_at], [updated_at]) VALUES (2, N'MV-002', N'Mai', N'Tâm lý', CAST(60000.00 AS Decimal(18, 2)), 100, N'mai.jpg', N'Stopped', CAST(N'2025-12-26T17:01:59.550' AS DateTime), NULL)
INSERT [dbo].[movies] ([id], [movie_id], [movie_name], [genre], [price], [capacity], [movie_image], [status], [created_at], [updated_at]) VALUES (3, N'MV-003', N'Dune: Part Two', N'Viễn tưởng', CAST(80000.00 AS Decimal(18, 2)), 150, N'dune2.jpg', N'Available', CAST(N'2025-12-26T17:01:59.550' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[movies] OFF
GO
SET IDENTITY_INSERT [dbo].[tickets] ON 

INSERT [dbo].[tickets] ([id], [movie_id], [customer_id], [staff_id], [seat_number], [price], [created_at]) VALUES (1, N'MV-001', 1, 2, 5, CAST(45000.00 AS Decimal(18, 2)), CAST(N'2025-12-26T17:01:59.560' AS DateTime))
INSERT [dbo].[tickets] ([id], [movie_id], [customer_id], [staff_id], [seat_number], [price], [created_at]) VALUES (2, N'MV-001', 1, 2, 6, CAST(45000.00 AS Decimal(18, 2)), CAST(N'2025-12-26T17:01:59.560' AS DateTime))
INSERT [dbo].[tickets] ([id], [movie_id], [customer_id], [staff_id], [seat_number], [price], [created_at]) VALUES (3, N'MV-001', NULL, 1, 29, CAST(45000.00 AS Decimal(18, 2)), CAST(N'2025-12-26T19:40:54.553' AS DateTime))
SET IDENTITY_INSERT [dbo].[tickets] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [password], [email], [role], [status], [date_reg]) VALUES (1, N'admin', N'E10ADC3949BA59ABBE56E057F20F883E', N'admin@cinema.com', N'Admin', N'Active', CAST(N'2025-12-26T17:01:59.547' AS DateTime))
INSERT [dbo].[users] ([id], [username], [password], [email], [role], [status], [date_reg]) VALUES (2, N'staff', N'827CCB0EEA8A706C4C34A16891F84E7B', N'staff@cinema.com', N'Staff', N'Active', CAST(N'2025-12-26T17:01:59.547' AS DateTime))
INSERT [dbo].[users] ([id], [username], [password], [email], [role], [status], [date_reg]) VALUES (5, N'Khanh', N'E10ADC3949BA59ABBE56E057F20F883E', N'khanh123@gmail.com', N'Admin', N'Active', CAST(N'2025-12-27T02:48:12.800' AS DateTime))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__customer__A1936A6BBA4E313B]    Script Date: 12/27/2025 3:00:58 AM ******/
ALTER TABLE [dbo].[customers] ADD UNIQUE NONCLUSTERED 
(
	[phone_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__movies__83CDF7480818C489]    Script Date: 12/27/2025 3:00:58 AM ******/
ALTER TABLE [dbo].[movies] ADD UNIQUE NONCLUSTERED 
(
	[movie_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Movie_Seat]    Script Date: 12/27/2025 3:00:58 AM ******/
ALTER TABLE [dbo].[tickets] ADD  CONSTRAINT [UQ_Movie_Seat] UNIQUE NONCLUSTERED 
(
	[movie_id] ASC,
	[seat_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC572EF22F4DA]    Script Date: 12/27/2025 3:00:58 AM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT ((0)) FOR [points]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[movies] ADD  DEFAULT ('Available') FOR [status]
GO
ALTER TABLE [dbo].[movies] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tickets] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('Active') FOR [status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [date_reg]
GO
ALTER TABLE [dbo].[tickets]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[tickets]  WITH CHECK ADD FOREIGN KEY([movie_id])
REFERENCES [dbo].[movies] ([movie_id])
GO
ALTER TABLE [dbo].[tickets]  WITH CHECK ADD FOREIGN KEY([staff_id])
REFERENCES [dbo].[users] ([id])
GO


ALTER TABLE movies
ADD price_vip INT NULL;

-- 2. Cập nhật dữ liệu mẫu (Giá VIP = Giá thường + 20.000đ)
UPDATE movies
SET price_vip = price + 20000;